<div class="wrapper">
    <div class="footer-col-wrapper">
        <hr /><br /><br />
        <p><strong>Feedback</strong> can be provided using <a href="https://ubc.ca1.qualtrics.com/jfe/form/SV_bmi4vOcPxEAGDfU" target="_blank">the following Qualtrics form</a></p>
        <p><strong>Produced</strong> by UBC Advanced Research Computing & UBC Library | 2022</p>
        <p><strong>Contributors</strong> include Nicholas Rochlin (UBC ARC), Mathew Vis-Dunbar (UBC Library), Jeff Gardner (UBC ARC), Elizabeth Kinney (UBC ARC), Jeremy Buhler (UBC Library), Doug Brigham (UBC Library), and Eugene Barsky (UBC Library)</p>
        <p><strong>Contact</strong> us directly at <a href="mailto:csc.ok@ubc.ca">csc.ok@ubc.ca</a> | <a href="mailto:arc.support@ubc.ca">arc.support@ubc.ca</a> | <a href="mailto:research.commons@ubc.ca">research.commons@ubc.ca</a></p>
  </div>
</div>
